*
{
    padding: 0px;
    margin: 0px;
}

.bandeau
{
    height: 100px;
}

.banniere
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width:100%;
}