.descriptions
{
    text-align:center;
    margin-left:20%;
    margin-right:20%;
}
.entete
{
    font-size:20px;
    text-decoration: underline;
}
.texte
{
    font-size:20px;
    border-bottom:2px solid black;
    padding-bottom:30px;
}
.horaires
{
    text-align:center;
}


.bloc-entete
{
    font-weight:bold;
    font-size:30px;
    height:50px;
    text-align:center;
    width:100%;
    border-bottom:2px solid black;
    margin-bottom:30px;
    justify-items:center;
}
.titre
{
    font-size:25px;
    font-weight:bold;
    margin-bottom:20px;
    text-decoration: underline;
}
.info
{
    width:60%;
    margin-right:20%;
    margin-left:20%;
}
.jour
{
    font-weight:bold;
    text-align:right;
    padding-right:40px;
    width:50%;
}
.heure
{
    text-align:left;
    padding-left:0px;
    width:50%;
}
.telephone
{
    margin-top:30px;
    text-align:center;
}
.date
{
    margin-top:10px;
    text-align:center;
}