.descriptions
{
    text-align:center;
}
.entete
{
    font-size:20px;
    text-decoration: underline;
}
.texte
{
    font-size:15px;
}
.horaires
{
    text-align:center;
}
.jour
{
    font-weight:bold;
}